* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-family:  Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.625;
  font-size: 1rem;
  color: #6f7c82;
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-linear-gradient(white, #fafbfc);
  background-image: linear-gradient(white, #fafbfc);
  background-repeat: no-repeat;
  background-attachment: fixed; }

em {
  font-style: italic; }

ul li {
  list-style-type: none; }

.clearfix {
  clear: both; }

a {
  text-decoration: underline;
  color: #292e31;
  font-weight: 600; }

p {
  font-size: 18px;
  line-height: 30px; }
  p.smaller {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }
    p.smaller strong {
      color: #292e31; }

.muted {
  color: #6f7c82;
  font-size: 12px;
  line-height: 14px;
  font-style: italic; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 600; }

h1, h2, h3 {
  font-weight: 300; }

h2 {
  font-size: 24px;
  margin-bottom: 6px; }

h3 {
  font-weight: 500;
  font-size: 16px; }

.centered {
  margin: auto;
  text-align: center; }

.wrap {
  max-width: 952px;
  margin: auto;
  padding: 0 24px;
  position: relative; }

.v-centered {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.island {
  margin: 48px;
}

main {
  margin-top: 48px !important;
  border-top: 1px solid transparent;
}

.breathe {
  padding: 48px 0;
}

.t-right {
  text-align: right;
}

img {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.42), 0 0 1px rgba(0, 0, 0, 0.12), inset 0 -1px 2px rgba(14, 60, 86, 0.1);
}

.credit {
  float: left;
}

footer p {
  font-size: 0.8rem;
}